body {
    background: #EEEEEE;
    font-family: Helvetica, sans-serif;
}

#kontener {
    width: 90%;
    margin: auto;
    text-align: center;
}

#logo, nav {
    background: LightBlue;
    height: 100px;
    width: 50%;
    padding: 10px 0;
    float: left;
}

header {
    clear: both;
    background: #DDDDDD;
    height: 200px;
}

main {
    color: Navy;
    margin: 50px;
    height: 400px;
}

footer {
    text-align: right;
    background: LightBlue;
    padding: 10px;
}

button {
    background-color: LightBlue;
    color: Navy;
}

nav a {
    color: Navy;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

nav a:hover {
    border: 1px solid Navy;
}

hr {
    background: #C0C0C0;
    width: 70%;
    height: 2px;
}

table {
    text-align: left;
}
